/* Load custom font using @font-face */
@font-face {
    font-family: 'DuFont';
    /* Name to reference the font */
    src:
        url('bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'DuFont', sans-serif;
    display: flex;
    flex-direction: column;
}
button{background: transparent;border: none;cursor: pointer;}
.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}
.material-symbols-outlined 
{  font-size: 5rem !important;}

.button-section {
    display: flex;
    justify-content: center;
    gap: 10px;    z-index: 10;
    padding-bottom: 10px ;
}

.button-section button {
    padding: 10px 20px;
    font-size: 5rem;
    border: none;
    color: black;border:2px solid;
    cursor: pointer;    font-family: 'DuFont', sans-serif;
background: none;
    border-radius: 5px;

}

/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;    height: 100%;

}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;

    padding: 20px;


    border-radius: 8px;
}

/* Close button (X) */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.title {
    font-size: 20vw;
    margin-block-end: 0;
    line-height: 0.8;
    margin-block-start: 0;
    white-space: nowrap;
    /* Prevents text from wrapping */
    animation: scroll-left 55s linear infinite;
    text-shadow: 5px 5px #558ABB;
}

/* Infinite scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0%);
        /* Start outside the screen from the right */
    }

    100% {
        transform: translateX(-100%);
        /* Scroll all the way to the left, outside the screen */
    }
}
.parastyle {font-size: 5rem;line-height: 1;text-align: justify;}
div.image-container.round {
    border-radius: 50%;
}

.image-container {
    position: relative;
    width: 100%;
}

/* Align the form inputs in a row */
.text-prompt-form {
    display: flex;
    justify-content: center;
    align-items: center;

 margin:0  10px;
    box-sizing: border-box;
border: 2px solid;}

.text-prompt-form input[type="text"] {
    flex: 1;
border:none;
    padding: 10px;
    font-size: 5rem;
    border-radius: 4px;
    margin-right: 10px;
    font-family: 'DuFont', sans-serif;
}

.text-prompt-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 5rem;
    border: none;
    font-family: 'DuFont', sans-serif;
    color: black;
    cursor: pointer;background: lime;
    border-radius: 4px;
}

.text-prompt-form input[type="submit"]:hover {
    background-color: #0056b3;
}
/* Spinning Animation for Overlay Text */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/* Bottom Right Modal */
.bottom-right-modal {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    z-index: 2;
}

.bottom-right-modal-content {
    background-color: lime;
    padding: 15px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.overlay-text {
    position: absolute;
    bottom: 50px;
    right: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: black;
    padding: 15px 20px;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 50%;
    border: 2px solid;
    background: lime;    animation: spin 20s linear infinite; /* Slow spinning animation */

}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    BORDER-RADIUS: 15PX;    border: 2px solid;
}

/* Media query for tablets */
@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 12vw;
        /* Increase font size for smaller screens */
    }
}

/* Media query for mobile */
@media (max-width: 480px) {
    .grid-section {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 15vw;
        /* Further increase font size on very small screens */
    }
}