/* Load custom font using @font-face */
@font-face {
    font-family: 'DuFont';
    src: url('bold.ttf') format('truetype');
    /* Corrected 'ttf' format to 'truetype' */

}

/* Second Font Face (Regular) */
@font-face {
    font-family: 'DuFontRegular';
    src: url('reg.ttf') format('truetype');
    /* Added the second font */

}

@media print {

    /* Hide elements that shouldn't appear in the print */
    .print-button,
    div.button-section,
    form.text-prompt-form,
    .video-container {
        display: none !important;
    }
  /* Adjust grid styles for printing */
  .grid-section {
    grid-template-columns: repeat(2, 1fr)!important;

  }


    .title-section,
    .grid-section {
        display: block;
    }
}
.close-print-button {
    position: fixed;
    top: 20px;
    right: 120px; /* Adjust position to the left of the print button */
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    display: none; /* Initially hidden */
    z-index: 1000; /* Ensure it stays on top */
  }

/* Styling for the "X" close text */
.close-text {
    font-size: 1rem;
    color: black;
    cursor: pointer;
    display: block;
    background: lime;
    border-radius: 50%;
    padding: 5px;
    border: 2px solid;
    line-height: 1;
    padding-top: 7px;   position: absolute;
top: -10px;left: 0;
  }
    
/* Custom checkbox */
input[type="checkbox"] {
    /* Hide the default checkbox */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    cursor: pointer;
    outline: none;
    display: inline-block;
    vertical-align: middle;
    background-color: white;
}

input[type="checkbox"]:checked {
    background-color: black;
}

input[type="checkbox"]:checked:after {
    content: 'X';
    color: white;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    padding-left: 2PX;
}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "DuFont", serif;
    display: flex;
    flex-direction: column;
}

.chattext {
    font-size: 1.3rem;
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: "Kode Mono", monospace;
    line-height: 1;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.video-container {
    position: relative;
    margin: 0 10px;
    border: 2px solid;
    box-sizing: border-box;
}

/* Custom Video Controls */
.video-controls {
    display: flex;

}

.video-controls button {
    color: black;
    font-family: "DuFont", serif;
    padding-top: 7px;
    text-transform: uppercase;
    border: 2px solid;
    cursor: pointer;
    font-size: 2rem;
}


button {
    font-family: "DuFont", serif;
}

h2 {
    font-size: 3rem;
    line-height: 0.8;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;

}

.material-symbols-outlined {
    font-size: 3rem !important;
}

.button-section {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    font-family: "DuFont", serif;
    background: none;
    text-transform: uppercase;
    line-height: 1;
    z-index: 50;
    border: 2px solid;
    text-align: center;
    margin: 0 10px;
    border-bottom: none;
    display: flex;
    /* Use flexbox to distribute space between buttons */
    justify-content: space-between;
    /* Evenly space the buttons */
    align-items: center;
}

.button-section button {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    font-family: "DuFont", serif;
    background: none;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 10px;
    width: 100%;

}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    opacity: 0;

    transition: opacity 0.4s ease, transform 0.4s ease;

}

/* Show modal with smooth animation */
.modal.show {
    display: flex;
    /* Change from none to flex */
    opacity: 1;

}

.callbraid {
    font-size: 3rem;
    margin: 0 10px;
    border-bottom: none;
    animation: scroll-left 30s linear infinite;

    border: 2px solid;
    padding: 0 10px
}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: white;
    border: 2px solid
}

/* Close button (X) */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 3rem;
    cursor: pointer;
}



.parastyle {
    font-size: 1.3rem;
    line-height: 1;
    text-align: justify;
    font-family: "Kode Mono", monospace;

}

.modal-column {
    padding: 6rem;
}

.image-container {
    position: relative;
    width: 100%;
}

button.submit-button {
    width: 100%;
}

/* Align the form inputs in a row */
.text-prompt-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-sizing: border-box;
    border: 2px solid;
    border-bottom: none;
    text-align: center;
}

.text-prompt-form input[type="text"] {
    border: none;
    background: transparent;
    font-size: 3rem;
    line-height: 1;
    font-family: "DuFont", serif;
    padding-top: 10px;
    text-align: center;
}

.text-prompt-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 3rem;
    border: none;
    font-family: "DuFont", serif;
    color: black;
    cursor: pointer;
    background: lime;

}



/* Spinning Animation for Overlay Text */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

span.material-symbols-outlined {
    font-weight: 900;
}

/* Bottom Right Modal */
.bottom-right-modal {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 30%;
    z-index: 2;

    transition: opacity 0.4s ease, transform 0.4s ease;
}

.bottom-right-modal-content {
    background-color: lime;
    padding: 5rem;
    border: 2px solid
}

#muteButton {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}



/* Two-column grid layout */
.modal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two equal columns */
}

.overlay-text {
    position: absolute;
    line-height: 1;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    color: black;
    padding: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 2px solid;
    background: lime;
    transition: transform 0.5s ease;
    z-index: 90;

}

.print-button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 30px 20px;
    background-color: lime;
    color: black;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
    /* Initially hidden */
    z-index: 1000;
    border: 2px solid
}

.print-button:hover {
    background-color: darkgray;
}

/* The spinning will be triggered when hovering over the image-container */
.image-container:hover .overlay-text {
    animation: spin 5s linear infinite;
}

.image-container {
    position: relative;
    width: 100%;
}

.grid-section {
    display: grid;
    opacity: 0;
    transition: opacity 0.5s ease;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4px;
    padding: 0 10px;
}

.video-container {
    transition: opacity 0.5s ease;
}

.grid-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
    box-sizing: border-box;
    border: 2px solid;
}

/* Media query for tablets */
@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
    }


}

/* Media query for mobile */
@media (max-width: 480px) {
    .grid-section {
        grid-template-columns: 1fr;
    }


}

.title-section {
    border: 2px solid;
    margin: 10px 10px 0 10px;

    overflow: hidden;
    white-space: nowrap;
    padding-bottom: 8vw;
    border-bottom: none;

}

.title-wrapper {
    height: 8vw;
    display: inline-block;
    white-space: nowrap;
}

.title {
    font-size: 9vw;
    line-height: 1.1;
    animation: scroll 90s linear infinite;
    display: inline-block;

}

/* Infinite scrolling animation */
@keyframes scroll {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.file-upload {
    display: none;
    /* Hide the default file input */
}

.upload-button {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    font-family: "Kode Mono", monospace;
    background: lime;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid;
}

label {
    font-family: "Kode Mono", monospace;
    font-size: 1.3rem;
}