/* Load custom font using @font-face */
@font-face {
    font-family: 'DuFont';
    src: url('bold.ttf') format('truetype'); /* Corrected 'ttf' format to 'truetype' */

}

/* Second Font Face (Regular) */
@font-face {
    font-family: 'DuFontRegular';
    src: url('reg.ttf') format('truetype'); /* Added the second font */

}


body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "DuFont", serif;
    display: flex;
    flex-direction: column;
}
.chattext{font-size: 2rem;}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}
/* Video Container */
.video-container {
    position: relative;
    width: 100%;
}

/* Custom Video Controls */
.video-controls {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.video-controls button {
    background-color: lime;
    color: black;
    font-family: "DuFont", serif;
    padding: 10px 20px;
    margin: 0 10px;
    border: 3px solid;
    cursor: pointer;
    font-size: 2rem;
}

.video-controls button:hover {
    background-color: #0056b3;
}
button{font-family:    "DuFont", serif;}
h2{font-size: 3rem;}
.material-symbols-outlined {
    font-size: 3rem !important;
}

.button-section {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    font-family: "DuFont", serif;
    background: none;
    text-transform: uppercase;
    line-height: 1;
  z-index: 50;
    border: 3px solid;
    margin: 0 10px;
    border-bottom: none
}

.button-section button {
    font-size: 3rem;
    color: black;
    cursor: pointer;
    font-family: "DuFont", serif;
    background: none;
    text-transform: uppercase;
    line-height: 1;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    height: 100%;

}

/* Modal Content */

.modal-content {
    position: relative;
    background-color: white;
border:3px solid

}

/* Close button (X) */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}



.parastyle {
    font-size: 3rem;
    line-height: 1;
    text-align: justify;font-family: 'DuFontRegular', sans-serif;
}

.modal-column{padding: 5rem;}

.image-container {
    position: relative;
    width: 100%;
}

/* Align the form inputs in a row */
.text-prompt-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    box-sizing: border-box;
    border: 3px solid;
    border-bottom: none;
}

.text-prompt-form input[type="text"] {
      border: none;background: transparent;
      font-size: 3rem;
      line-height: 1;
      font-family: "DuFont", serif;margin-bottom: -10px;
}

.text-prompt-form input[type="submit"] {
    padding: 10px 20px;
    font-size: 3rem;
    border: none;
    font-family: "DuFont", serif;
    color: black;
    cursor: pointer;
    background: lime;
  
}



/* Spinning Animation for Overlay Text */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
span.material-symbols-outlined{font-weight: 900;}
/* Bottom Right Modal */
.bottom-right-modal {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;width: 30%;
    z-index: 2;
}

.bottom-right-modal-content {
    background-color: lime;
    padding: 5rem;border:3px solid

}
video{border:3px solid}
/* Two-column grid layout */
.modal-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal columns */
}
.overlay-text {
    position: absolute;
    line-height: 1;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    color: black;
    padding: 30px;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: 3px solid;
    background: lime;
    transition: transform 0.5s ease; /* Smooth transition when spinning starts */


}
/* The spinning will be triggered when hovering over the image-container */
.image-container:hover .overlay-text {
    animation: spin 5s linear infinite;
}
.image-container {
    position: relative;
    width: 100%;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
row-gap: 4px;
    padding:0 10px;
}

.grid-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
box-sizing: border-box;
    border: 3px solid;
}

/* Media query for tablets */
@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 12vw;
        /* Increase font size for smaller screens */
    }
}

/* Media query for mobile */
@media (max-width: 480px) {
    .grid-section {
        grid-template-columns: 1fr;
    }

    .title {
        font-size: 15vw;
        /* Further increase font size on very small screens */
    }
}

.title-section {
    border: 3px solid;
    margin: 10px 10px 0 10px;
    box-sizing: border-box;
    position: relative; border-bottom: none;
}

.title-wrapper{height:7.1vw}

.title {
    font-size: 9vw;
    line-height: 1;

}

/* Infinite scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0); /* Start fully visible */
    }

    100% {
        transform: translateX(-100%); /* End where the second text starts */
    }
}
