
/* Load custom font using @font-face */
@font-face {
    font-family: 'DuFont'; /* Name to reference the font */
    src: 
         url('bold.woff') format('woff');    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'DuFont', sans-serif;
    display: flex;
    flex-direction: column;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 5rem;
    font-weight: bold;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.grid-section img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-section {
        grid-template-columns: 1fr;
    }
}
