
/* Load custom font using @font-face */
@font-face {
    font-family: 'DuFont'; /* Name to reference the font */
    src: 
         url('bold.woff') format('woff');    font-weight: normal;
    font-style: normal;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'DuFont', sans-serif;
    display: flex;
    flex-direction: column;
}

.title-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    overflow: hidden; /* Important to hide the text that scrolls out of view */
}

.title {
    font-size: 10rem;
   white-space: nowrap; /* Prevents text from wrapping */
    animation: scroll-left 15s linear infinite;
}
/* Infinite scrolling animation */
@keyframes scroll-left {
    0% {
        transform: translateX(100%); /* Start outside the screen from the right */
    }
    100% {
        transform: translateX(-100%); /* Scroll all the way to the left, outside the screen */
    }
}
.image-container {
    position: relative;
    width: 100%;
}
.overlay-text {
    position: absolute;
    bottom: 20px;
    right: 20px;
    /* background-color: rgba(0, 0, 0, 0.5); */
    color: white;
    padding: 15px 20px;
    font-size: 1rem;
text-transform: uppercase;    border-radius: 50%;
    border: 2px solid;
}

.grid-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px;
}

.grid-section img {
    width: 100%;
    height: auto;
    object-fit: cover;    BORDER-RADIUS: 15PX;
}

@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .grid-section {
        grid-template-columns: 1fr;
    }
}
